*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
nav{
    padding-top: 8px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: white;
    p{
        font-size: 1.2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    transition:ease-in-out 0.3s;
}
button:hover{
    background-color: red;
    cursor: pointer;
    color: white;
}
main{
    margin: auto;
    min-width: 50vw;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
}
.cliente{
    width: 100%;
}
.cursos{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.cursos div{
    width: 144px;
    height: 220px;
    background-color: cadetblue;
    margin: 10px;
    transition: ease 0.2s;
}
.cursos div:hover{
    box-shadow: 0px 0px 30px rgb(255, 235, 146);
}
footer{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E1D1D;
    padding: 20px;
}
.div1{
    background-image: url(imagens/div1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div2{
    background-image: url(imagens/div2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div3{
    background-image: url(imagens/div3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div4{
    background-image: url(imagens/div4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div5{
    background-image: url(imagens/div5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div6{
    background-image: url(imagens/div6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div7{
    background-image: url(imagens/div7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div8{
    background-image: url(imagens/div8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div9{
    background-image: url(imagens/div9.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}